h1 {
    color: goldenrod 

}
body{

    text-align: center;
    background-image: url(images/table.webp);
    background-color: aquamarine;
    background-size: cover;
    color: antiquewhite;
    font-weight: bold;

}
#message-el {
font-style: italic;

}
button{
    text-align: center;
    background-color: blueviolet;
    font-weight: bolder;
    border-color: rgb(172, 5, 5);
    border-width: 2pt;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 4px;
    border-radius: 3px;
    width: 150px;
}